@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: 0, 175, 240;
    --secondary-blue: 124, 211, 247;
  }

  body {
    @apply bg-white;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .btn {
    @apply font-medium bg-primary-blue border border-black rounded p-1;
    @apply hover:bg-secondary-blue hover:text-white hover:border-white;
    @apply active:bg-primary-blue;
  }
}
